{
  "presets": [
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "react-intl",
      {
        "messagesDir": "./build/messages"
      }
    ],
    "preval"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "IE >= 11", "iOS >= 9"]
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "lodash",
        [
          "transform-react-remove-prop-types",
          {
            "mode": "remove",
            "removeImport": true,
            "additionalLibraries": [
              "react-immutable-proptypes"
            ]
          }
        ],
        "transform-react-inline-elements",
        [
          "transform-runtime",
          {
            "helpers": true,
            "polyfill": false,
            "regenerator": false
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "IE >= 11", "iOS >= 9"]
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "IE >= 11", "iOS >= 9"]
            }
          }
        ]
      ]
    },
    "server": {
      "presets": [
        [
          "env",
          {
            "loose": true,
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
