$ui-base-color: hotpink;
$ui-secondary-color: crimson;
$ui-primary-color: antiquewhite;
$ui-highlight-color: pink;

// $base-border-color:
// $simple-background-color:
// $primary-text-color:
// $error-value-color:
// $valid-value-color:
// $base-shadow-color:
// $base-overlay-background:

@import 'application';
